body {
  background: #f8f9fb;
}

.questionForm .ant-radio-checked .ant-radio-inner {
  border-color: #3684c6 !important ;
}

.questionForm .ant-radio-checked .ant-radio-inner:after {
  background-color: #3684c6;
}

.questionForm .ant-radio:hover .ant-radio-inner {
  border-color: #3684c6;
}

.questionForm .ant-radio-button-checked {
  border-color: #3684c6 !important ;
}

.questionForm .ant-radio-button-wrapper-checked {
  background-color: #3684c6 !important;
}

.questionForm .ant-radio-button:hover {
  color: #3684c6;
}

.ant-btn-primary {
  border-color: #3684c6;
  background-color: #3684c6;
}
