body {
  background: #f8f9fb;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #3684c6 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #3684c6;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #3684c6;
}

.ant-radio-button-checked {
  border-color: #3684c6 !important ;
}

.ant-radio-button-wrapper-checked {
  background-color: #3684c6 !important;
}

.ant-radio-button:hover {
  color: #3684c6;
}

.ant-btn-primary {
  border-color: #3684c6;
  background-color: #3684c6;
}

.notion-image-inset {
  width: 100%;
}

.notion-asset-wrapper {
  width: 100% !important;
}

.notion-asset-wrapper > div {
  padding-bottom: 0px !important;
}

.notion-list {
  margin: 0px;
  padding-inline-start: 20px;
}

.notion-toggle {
  padding-inline-start: 5px;
}

@media only percy {
  .open-queue-card .ant-card-extra {
    visibility: hidden;
  }
  .hide-in-percy {
    visibility: hidden;
  }
  .rbc-toolbar-label {
    visibility: hidden;
  }
  .rbc-event {
    visibility: hidden;
  }
}